USE [master]
GO
/****** Object:  Database [WhatWillInvolveLifeAsOurPart]    Script Date: 10/23/2023 4:10:20 PM ******/
CREATE DATABASE [WhatWillInvolveLifeAsOurPart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WhatWillInvolveLifeAsOurPart_Data', FILENAME = N'E:\SQLServerDataFiles\WhatWillInvolveLifeAsOurPart\WhatWillInvolveLifeAsOurPartData.MDF' , SIZE = 8000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%)
 LOG ON 
( NAME = N'WhatWillInvolveLifeAsOurPart_Log', FILENAME = N'E:\SQLServerDataFiles\WhatWillInvolveLifeAsOurPart\WhatWillInvolveLifeAsOurPartLog.LDF' , SIZE = 8000KB , MAXSIZE = 2048GB , FILEGROWTH = 5%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WhatWillInvolveLifeAsOurPart].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [WhatWillInvolveLifeAsOurPart]
GO
/****** Object:  User [LoginNameSecurity]    Script Date: 10/23/2023 4:10:20 PM ******/
CREATE USER [LoginNameSecurity] FOR LOGIN [LoginNameSecurity] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ephraimtech\ephwebuser]    Script Date: 10/23/2023 4:10:20 PM ******/
CREATE USER [ephraimtech\ephwebuser] FOR LOGIN [ephraimtech\ephwebuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ephraimtech\ephwebuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ephraimtech\ephwebuser]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 10/23/2023 4:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[BibleWord] [nvarchar](350) NOT NULL,
	[Typed] [nvarchar](50) NOT NULL,
	[ScriptureReference] [nvarchar](4000) NULL,
	[Commentary] [nvarchar](4000) NULL,
	[URI] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[BibleWord] ASC,
	[Typed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 10/23/2023 4:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ActorID] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[BibleWord] [nvarchar](350) NOT NULL,
	[Typed] [nvarchar](50) NOT NULL,
	[ScriptureReference] [nvarchar](4000) NULL,
	[Commentary] [nvarchar](4000) NULL,
	[URI] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[BibleWord] ASC,
	[Typed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([ActivityID], [Dated], [BibleWord], [Typed], [ScriptureReference], [Commentary], [URI]) VALUES (1, CAST(N'2023-10-23T12:34:31.923' AS DateTime), N'Created', N'Creation', N'Genesis 1:1', NULL, NULL)
INSERT [dbo].[Activity] ([ActivityID], [Dated], [BibleWord], [Typed], [ScriptureReference], [Commentary], [URI]) VALUES (2, CAST(N'2023-10-23T12:36:44.077' AS DateTime), N'Moved', N'Movement', N'Genesis 1:2', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([ActorID], [Dated], [BibleWord], [Typed], [ScriptureReference], [Commentary], [URI]) VALUES (2, CAST(N'2023-10-22T21:03:48.310' AS DateTime), N'Adam', N'First man', N'Genesis 2:7-4:25', NULL, NULL)
INSERT [dbo].[Actor] ([ActorID], [Dated], [BibleWord], [Typed], [ScriptureReference], [Commentary], [URI]) VALUES (4, CAST(N'2023-10-23T10:02:56.750' AS DateTime), N'Eden', N'Garden', N'Genesis 2:8-10, Genesis 3:23-24', NULL, NULL)
INSERT [dbo].[Actor] ([ActorID], [Dated], [BibleWord], [Typed], [ScriptureReference], [Commentary], [URI]) VALUES (3, CAST(N'2023-10-22T21:04:47.777' AS DateTime), N'Eve', N'Woman', N'Genesis 2:22-4:25', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Actor] OFF
GO
ALTER TABLE [dbo].[Activity] ADD  CONSTRAINT [DF_Activity_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[Actor] ADD  CONSTRAINT [DF_Actor_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
EXEC [WhatWillInvolveLifeAsOurPart].sys.sp_addextendedproperty @name=N'Creation', @value=N'2023-10-22' 
GO
EXEC [WhatWillInvolveLifeAsOurPart].sys.sp_addextendedproperty @name=N'Commentary', @value=N'Keep track of history? Historical account? 2023-10-23T16:06:06 Keyword? Database for Unified Modeling Language (UML), actor, place, activity, action ' 
GO
EXEC sys.sp_addextendedproperty @name=N'Created', @value=N'2023-10-23T09:14:00' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Actor', @level2type=N'COLUMN',@level2name=N'Typed'
GO
EXEC sys.sp_addextendedproperty @name=N'Creation', @value=N'2023-10-22' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Actor'
GO
USE [master]
GO
